
jinja2==3.1.1
opencv-python>=4.0.1.23
redis

torch
flask
Pillow==8.3.2
seaborn
redistimeseries


mmcv~=1.7.1
mmtrack~=0.14.0
mmdet~=3.0.0
pytest~=7.3.0
motmetrics~=1.4.0
matplotlib~=3.7.1
tqdm~=4.65.0
pycocotools~=2.0.6
pandas~=2.0.0
addict~=2.4.0
mmcls~=0.25.0
scipy~=1.10.1