[Unit]
Description=Consul Template for Nginx Configuration
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/run_consultemplate.sh
Restart=on-failure
RestartSec=10s
User={{ service_user }}
Group={{ service_group }}

[Install]
WantedBy=multi-user.target

